version: '3.8'

services:
  backend:
    build: ./backend
    hostname: ${BACKEND_HOST}
    ports:
      - "${BACKEND_PORT}:${BACKEND_PORT}"
    env_file:
      - .env
      - ./backend/.env
    volumes:
      - ./backend:/backend
    restart: unless-stopped
    networks:
      - app-network
    # TODO: healthcheck
    # healthcheck:
    #   test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
    #   interval: 30s
    #   timeout: 10s
    #   retries: 3
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    image: postgres:16
    hostname: ${DB_HOST}
    # ports:
    #   - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    command: [ "postgres", "-c", "log_statement=all", "-c", "log_destination=stderr" ]
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 10s
      retries: 5
    restart: unless-stopped
    networks:
      - app-network

  minio:
    image: quay.io/minio/minio:latest
    command: server /data  --address ":${MINIO_API_PORT}" --console-address ":${MINIO_PORT}"
    env_file:
      - .env
    ports:
      - "${MINIO_API_PORT}:${MINIO_API_PORT}"
      - "${MINIO_PORT}:${MINIO_PORT}"
    volumes:
      - minio_data:/data
    healthcheck:
      test: ["CMD", "mc", "ready", "local"]
      interval: 30s
      timeout: 20s
      retries: 5
    restart: unless-stopped
    networks:
      - app-network

  clickhouse:
    image: clickhouse/clickhouse-server:latest
    ports:
      - "${CLICKHOUSE_HTTP_PORT}:8123"
      - "${CLICKHOUSE_TCP_PORT}:9000"
    env_file:
      - .env
    volumes:
      - clickhouse_data:/var/lib/clickhouse
      - clickhouse_log:/var/log/clickhouse-server
    healthcheck:
      test: [ "CMD-SHELL", "clickhouse-client --query 'SELECT 1' || exit 1" ]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
  minio_data:
  clickhouse_data
  clickhouse_log:

networks:
  app-network:
    driver: bridge
