.body {
  min-height: 100%;  
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aspect-ratio-box {
  width: 100%;
  max-width: 800px;
  aspect-ratio: 4 / 3;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 25px;
  position: relative;
  overflow: hidden;
}

.video-container-focus {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: inherit;
}

.video-container-mini {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 30%;
  aspect-ratio: 4 / 3;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-box {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #FFFFFF;
}

.search-params-box {
  display: flex;
  justify-content: start;
  margin-left: 20px;
}

.buttons-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-params-box {
  display: flex;
  justify-content: end;
  margin-right: 20px;
}

.text-field {
  display: flex;
}

.control-button {
  display: flex;
  margin: 0 5px !important;
}

/* rating box unused */
/* 
.rating-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rating-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

.rating-text {
  font-size: 16px;
  font-weight: bold;
} */